.bottom-pagination-container {
  /* border: 1px solid darkblue; */
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pagination-container-numbers {
  /* border: 1px solid green; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.card-pagination-container {
  /* border: 1px solid darkcyan; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}
.list-number {
  text-decoration: none;
  font-family: 'Roboto';
  margin-right: 20px;
  text-decoration: none;
  border: 1px solid #00bfff;
  background-color: #00bfff;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  padding-left: 12px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.panel-container {
  align-self: center;
}
.page-link {
  text-decoration: none;
  color: #fff;
}
.delete-button {
  background-color: #ff5171;
  color: #fff;
  font-family: 'Roboto';
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  padding-top: 0;
  height: 40px;
  align-self: center;
}
